.footer {
    position: static;
    word-break: keep-all;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background-color: #1e1e1e;
}

@media (max-width: 728px) {
    .footer {
        margin-top: 50px;
        height: 50px;
        font-size: 12px;
        text-align: center;
    }
}