.nav {
    position: fixed;
    width: 100%;
    height: 80px;
    padding: 1rem 2rem;
    background-color: var(--bg-200);
    color: var(--text-100);
    display: flex;
    justify-content: space-between;
    z-index: 10;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 2;
}

.logo>.title {
    font-size: 20px;
}

.items {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-grow: 4;
    font-size: 18px;
    transition: transform 500ms;
}

.items>a::before {
    content: "• ";
}

.btn {
    cursor: pointer;
    display: none;
}

.btn>svg>path {
    fill: var(--text-100);
}

@media (max-width: 768px) {
    .nav {
        flex-wrap: wrap-reverse;
    }

    .btn {
        flex-grow: 2;
        align-items: center;
        text-align: right;
        display: block;
    }

    .items {
        border: 1px solid #1a1a1a;
        border-top: none;
        flex-direction: column;
        width: 100%;
        height: 250px;
        background-color: var(--primary-200);
        color: var(--bg-200);
        transform: translate(0, -20px);
        justify-content: space-evenly;
        border-radius: 0 0 20px 20px;
    }

    .items>a {
        width: 80%;
        padding: 10px;
        border-bottom: 1px solid #eee;
    }

    .items>a:last-child {
        border-bottom: none;
    }
}