.research {
    background-color: var(--bg-300);
    color:var(--text-100);
    margin: 5px 0;
    font-size: 15px;
}

.date {
    text-decoration: underline var(--primary-200);
}

.title {
    word-break: keep-all;
    margin-left: 20px;
}


@media (max-width: 728px) {
    .research {
        font-size: 12px;
        text-align: center;
    }

    .title {
        word-break: keep-all;
        margin-left: 0;
    }
}