:root {
  --primary-100:#C7B299;
  --primary-200:#a9957d;
  --primary-300:#675640;
  --accent-100:#A68B5B;
  --accent-200:#483507;
  --text-100:#4D4D4D;
  --text-200:#797979;
  --bg-100:#F5EFE7;
  --bg-200:#ebe5dd;
  --bg-300:#c2bdb5;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
  scroll-behavior: smooth;
}

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
  background-color: var(--bg-300);
  color: var(--accent-100);
}

a {
  color: inherit;
  text-decoration: none;
}