* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -ms-touch-select: none;
  -webkit-user-select: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #2e2e2e;
  color: #e2e2e2;
}

a {
  color: inherit;
  text-decoration: none;
}