@font-face {
  font-family: Jomhuria;
  src: url("/Jomhuria-Regular.ttf");
}

.main {
  position: relative;
  /* padding: 0 2rem; */
  min-height: calc(100vh - 160px);
  transition: padding 600ms;
}

.header {
  mix-blend-mode: multiply;
  display: flex;
  margin: 0 auto;
  max-width: 1280px;
  height: 580px;
  overflow: hidden;
  flex-shrink: 0;
  background-color: #C2BDB5;
}

.header>.left {
  display: flex;
  flex-grow: 1;
  height: 100%;
  flex-direction: column;
  flex-shrink: 0;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header>.left>.title {
  font-size: 96px;
  font-family: Jomhuria;
  animation: 700ms opacityUp;
}

.header>.left>.description {
  font-size: 48px;
  opacity: 0;
  animation: 700ms opacityUp 700ms forwards;
}

.header>.left>.description>p {
  text-align: center;
  font-family: Jomhuria;
}

.header>.right {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header>.right>svg>.head {
  opacity: 0;
  animation: 2s opacityUp 1s forwards;
}

.header>.right>svg>.body {
  opacity: 0;
  animation: 2s opacityUp 1s forwards;
}

.header>.right>.hat {
  opacity: 0;
  animation: 2s hat 1s forwards;
}

.view {
  display: flex;
  flex-direction: row-reverse;
}

.contentNav {
  width: 250px;
  height: 80vh;
  max-height: 600px;
  background-color: var(--primary-100);
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 1000;
}

.contentNav>.title {
  background-color: var(--primary-200);
  height: 80px;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 60px;
  font-family: Jomhuria;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}

.contentNav>.items {
  height: calc(100% - 80px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.contentNav>.items>a:first-child {
  font-size: 40px;
}

.contentNav>.items>a {
  transition: font-size 500ms;
  font-size: 30px;
  font-family: 'Jomhuria';
  font-weight: Regular;
}

.contents {
  width: calc(100% - 250px);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  opacity: 0.6;
  padding: 2rem 4rem;
  min-height: 90vh;
  z-index: 5;
  border-bottom: 1px solid #ccc;
}

.content>.title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}

.content>.title>svg {
  margin-right: 20px;
}

.content>.description {
  word-break: keep-all;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content>.description>a {
  display: flex;
  margin: 0 auto;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1d1d1d;
  font-size: 20px;
  text-decoration: underline #0f69d0 5px;
  transition: background-color 500ms, color 500ms;
}

.content>.description>a>svg {
  fill: var(--accent-100);
  margin-right: 15px;
  transition: fill 500ms;
}

.content>.description>a:hover {
  background-color: var(--primary-300);
  color: #2e2e2e;
}

.content>.description>a:hover svg {
  fill: var(--text-100);
}


.content>.description>.welfares {
  background-color: #1d1d1dc9;
}

.welfare {
  margin: 20px;
}

.welfare>.title {
  text-align: left;
  font-size: 20px;
  padding: 1rem;
}

.welfare>.title::before {
  content: "- ";
}

.welfare>.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  font-size: 15px;
}

.bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-blend-mode: soft-light;
}

.researchs {
  padding: 1rem 2rem;
  border-radius: 10px;
  background-color: var(--primary-200);
  word-break: keep-all;
}


.line {
  text-decoration: underline #ddd;
}

.bold {
  font-weight: 700;
}

.important {
  margin: 70px 0;
  font-size: 20px;
}

.mention {
  background-color: #0b0909;
  padding: 10px;
}

@media (max-height: 600px) {
  .main {
    padding: 0;
  }

  .header>.left>.title {
    font-size: 55px;
  }

  .header>.left>.description {
    font-size: 40px;
  }

  .contentNav {
    display: none;
  }

  .contents {
    width: 100%;
  }

  .content {
    padding: 2rem 20px;
    text-align: center;
  }

  .content>.title {
    font-size: 20px;
  }

  .content>.description {
    font-size: 15px;
  }

  .researchs {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

@media (max-width: 972px) {
  .main {
    padding: 0;
  }

  .header>.left>.title {
    font-size: 55px;
  }

  .header>.left>.description {
    font-size: 40px;
  }

  .header>.right {
    position: absolute;
    opacity: 0.2;
  }

  .header>.right>.hat {
    opacity: 0;
    animation: 4s hat 1s infinite alternate;
  }

  .contentNav {
    display: none;
  }

  .contents {
    width: 100%;
  }

  .content {
    padding: 2rem 20px;
    text-align: center;
  }

  .content>.title {
    font-size: 20px;
  }

  .content>.description {
    font-size: 15px;
  }

  .researchs {
    padding: 0;
    background-color: rgba(0, 0, 0, 0);
  }
}

@keyframes opacityUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes hat {
  0% {
    opacity: 0;
    margin-bottom: 0;
  }

  60% {
    opacity: 1;
    margin-bottom: -40px;
  }

  80% {
    opacity: 1;
    margin-bottom: 0px;
  }

  100% {
    opacity: 1;
    margin-bottom: -40px;
    margin-top: 80px;
  }
}