.main {
  position: relative;
  top: 80px;
  padding: 0 5rem;
  min-height: calc(100vh - 160px);
}

.header {
  width: 100%;
  height: 420px;
  padding: 1rem 2rem;
  background-image: url("/header.mp4");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.header>.title {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-shadow: 4px 4px 5px rgba(0, 0, 0);
  font-size: 55px;
  animation: opacityUp 2s backwards;
}

.header>.description {
  animation: 2s opacityUp 1s backwards;
  font-size: 25px;
}

.content {
  display: flex;
  padding: 1rem 2rem;
  min-height: 600px;
  justify-content: space-around;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #111111;
  opacity: 0.6;
  padding: 2rem 4rem;
  width: 100%;
  min-height: 90vh;
  z-index: 5;
  border-bottom: 1px solid #ccc;
}

.content:first-child {
  margin-top: 20px;
  border-radius: 20px 20px 0 0;
}

.content:last-child {
  border: none;
  border-radius: 0 0 20px 20px;
  margin-bottom: 100px;
}

.content>.title {
  width: 100%;
  margin-bottom: 40px;
  font-size: 25px;
  font-weight: 700;
}

.content>.title>svg {
  margin-right: 20px;
}

.content>.description {
  word-break: keep-all;
  font-size: 17px;
  line-height: 30px;
  text-align: center;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.content>.description>a {
  display: flex;
  margin: 0 auto;
  width: 140px;
  padding: 10px;
  border-radius: 10px;
  background-color: #1d1d1d;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: underline #0f69d0 5px;
  transition: background-color 500ms, color 500ms;
}

.content>.description>a:hover {
  background-color: #c6cf2c;
  color: #2e2e2e;
}

.content>.description>a>svg {
  margin-right: 15px;
}

.content>.description>.welfares {
  background-color: #1d1d1d;
}

.welfare {
  margin: 20px;
}

.welfare>.title {
  text-align: left;
  font-size: 20px;
  padding: 1rem;
}

.welfare>.title::before {
  content: "- ";
}

.welfare>.description {
  text-align: left;
  font-size: 15px;
}


#intro {
  display: flex;
  filter: none;
  position: static;
  justify-content: center;
  align-self: center;
  width: 20%;
  height: 20vw;
  background-image: url("/ICBM.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.researchs {
  padding: 0 2rem;
  border-radius: 10px;
  background-color: rgba(26, 67, 102, 0.234);
  word-break: keep-all;
}


.line {
  text-decoration: underline #ddd;
}

.bold {
  font-weight: 700;
}

.important {
  margin: 70px 0;
  font-size: 20px;
}

.mention {
  background-color: #0b0909;
  padding: 10px;
}

@media (max-width: 728px) {
  .main {
    padding: 0;
  }

  .content {
    padding: 2rem 20px;
    text-align: center;
  }

  .content>.title {
    font-size: 20px;
  }

  .content>.description {
    font-size: 15px;
  }

  .researchs {
    padding: 0;

  }

}

@keyframes opacityUp {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}